<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
        function checkPWD() {


            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var inputPWD = document.getElementById('inputPWD').value;
            var PWD = document.getElementById('PWD').value;
            var id = document.getElementById('id').value;
            var option = document.getElementById('option').value;

            const error = document.getElementById('error');

            var url = "/freeBoard/passwordCheck";

            var paramData = {
                "inputPWD" : inputPWD,
                "PWD" : PWD,
                "id" : id,
                "option" : option,
            };



            $.ajax({

            url : url,
            type: 'POST',
            data : paramData,
            beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
            },
            success: function(response){

                if(response == "삭제성공"){
                    var deleteYN = confirm("비밀번호가 확인되었습니다. \n삭제 하시겠습니까?");


                    if(deleteYN){

                         location.href='/freeBoard/deleteBoard?id='+id;
                        alert('삭제되었습니다.');
                    }else{

                    }
                }


                if(response == "수정성공"){
                    var updateYN = confirm("비밀번호가 확인되었습니다. \n수정 하시겠습니까?");


                    if(updateYN){
                        location.href='/freeBoard/update/'+id;





                    }else{

                    }
                }

                if(response == "비밀번호가 맞지않습니다."){
                    error.style.visibility='visible';
                }

            },
            error : function(jqXHR, status , error){
                alert(jqXHR.responseText);
            }

            });



        }





    </script>

</th:block>




<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <style>
        #error{
          color: #bd2130;
         }

        .aaaa{
            margin: 0 auto;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <div class="imgBanner" >
        <div class="bannerSize" style="background:url('/img/welcomeBackground.png')">

            <div class="aaa">

                <h1 class="h1h1"></h1>
                <br>
                <h3 class="h3h3"></h3>
            </div>


        </div>
    </div>

    <section  class="aaaa" style="margin-top: 50px; width: 500px;">

        <div class="nice-form-group">
            <label th:for="password">비밀번호</label>
            <input type="password" id ="inputPWD" name="password" class="form-control" placeholder="비밀번호 입력">
            <p id="error" style="visibility: hidden">비밀번호가 맞지 않습니다.</p>
        </div>



        <div class="bottomDiv">
            <button class="btn btn-success" onclick="checkPWD()">확인</button>

        </div>

        <input type="hidden" th:value="*{checkPw}" id="PWD">
        <input type="hidden" th:value="*{option}" id="option">

        <input type="hidden" th:value="*{id}" id="id">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">


    </section>

</div>
</html>