<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer class="bg-dark text-white text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4" >
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase" >회사 정보</h5>
                    <p>
                        상호명 : 아또몰<br>
                        대표이사 : 양재훈<br>
                        사업자등록번호 : 111-22-3333<br>
                        사업장주소 : 인천광역시 부평구 경원대로 1366(부평동) 7층<br>
                        고객센터 : 5555-7777 (09:00 ~ 18:00)
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase"></h5>
                    <ul class="list-unstyled mb-0">
                        <li>　　　　</li>
                        <li>
                            <a href="#!" class="text-white">회사소개</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">상품문의</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Q&A</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">고객센터</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">이용약관</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5>찾아 오는 길</h5>
                    <div id="map" style="width:250px;height:150px;"></div>
                    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ddb333c7f93809d1e33e43866f9666e5"></script>
                    <script>
                        var container = document.getElementById('map');
                        var options = {
                            center: new kakao.maps.LatLng(37.491, 126.7205),
                            level: 3
                        };
                        var map = new kakao.maps.Map(container, options);
                        var marker = new kakao.maps.Marker({
                            position: map.getCenter()
                        });
                        marker.setMap(map);
                    </script>
                </div>
            </div>
        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Copyright: (주) 아또몰 ALL RIGHTS RESERVED
        </div>

    </footer>
</div>
</html>