 * {
    margin: 0;
    padding: 0;
    font-family: 'SUITE-Regular';

}
html{
    position: relative;
    min-height: 100%;
    margin: 0;
}
body{
    min-height: 100%;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    height: 100px;
}
.content{
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}
a{
    text-decoration: none;
}
.menuTitle{
      width: 86%;
      margin-bottom: 1rem;
      margin-left: auto;
      margin-right: auto;
      border-bottom:solid;
}

.item_detail{
    color: #999;
}
.item_price{
    color:#EF83B9;
}

.btn_search{
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.tit{
    margin: 0 30px 0 0;
}

.info{
    padding: 7px 0 6px 0;
}

.more{
    float: right;
    font-size: 1rem;
    color:#8D8D8D;
}

.btn_add_cart{
     width: 40%;
     height: 42px;
     margin: 0 1% 0 0;
     padding: 0;
     font-weight: normal;
     color: #000;
     font-size: 14px;
     outline: 1px solid #cccccc;
     border: none;
     background: #ffffff;
}
.btn_order{
     width: 40%;
     height: 42px;
     margin: 0;
     padding: 0;
     font-weight: normal;
     font-size: 14px;
     outline: 1px solid #363636;
     border: none;
     background: #363636;
     color: #ffffff;
}
.btn_order:hover{
     border: none;
     color: #333;
     background: rgb(255, 255, 255);
}

.nav-link{
    font-weight:600;
    color:#333;
}