<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색결과'"></p>
    </div>
    <div class="container text-center">
        <div class="row row-cols-5">
            <th:block th:each="item, status: ${items.getContent()}">
                <div th:if="${item.type == T(com.shop.constant.Type).FOOD}">
                    <div class="col">
                        <div class="card">
                            <a th:href="'/item/' + ${item.id}" class="text-dark">
                                <div style="height:220px;">
                                    <img th:src="${item.imgUrl}" class="card-img" th:alt="${item.itemNm}">
                                </div>
                                <div class="card-body">
                                    <h6 class="card-title">[[${item.itemNm}]]</h6>
                                    <h6 class="card-title text-danger"th:text="${#numbers.formatInteger(item.price, 3, 'COMMA') + '원'}"></h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</html>