<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<!-- 사용자 CSS 추가 -->

<th:block layout:fragment="css">
    <style>
        .card-text{
            text-overflow : ellipsis;
            white-space : nowrap;
            overflow : hidden;
        }
        a:hover{
            text-decoration:none;
        }
        .container_item{
            padding-right: 0;
            padding-left: 0;
            max-width:100%;
        }
        .img_1 .img_2{
            width: 100%;
        }
        .col{
            margin-bottom:10rem;
        }



    </style>
</th:block>

<div layout:fragment="content">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/carousel_1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/carousel_2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/carousel_3.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

<!--    <div class="main-coupon mt-2 d-flex">-->
<!--        <a href="#">-->
<!--            <div class="coupon_1"><img class="img_1" src="/img/쿠폰1.jpg" alt="신년맞이 쿠폰"></div>-->
<!--        </a>-->
<!--        <a href="#">-->
<!--            <div class="coupon_2"><img class="img_2" src="/img/쿠폰2.jpg" alt=""></div>-->
<!--        </a>-->
<!--    </div>-->

    <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">

    <h3 style="margin-top:10rem;">
        <span>영양 가득 아또몰 대표 사료!</span>
    </h3>
    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색결과'"></p>
    </div>
    <div class="container_item mt-3">
    <div class="row row-cols-5">
        <th:block th:each="item, status: ${items_food.getContent()}">
            <div class="col">
                <div class="card">
                    <a th:href="'/item/' + ${item.id}" class="text-dark">
                        <div>
                            <img th:src="${item.imgUrl}" class="card-img" th:alt="${item.itemNm}">
                        </div>
                        <div class="card-body mt-5">
                            <h5 class="item_name">[[${item.itemNm}]]</h5>
                            <h6 class="item_detail">[[${item.itemDetail}]]</h6>
                            <h4 class="item_price"th:text="${#numbers.formatInteger(item.price, 3, 'COMMA') + '원'}"></h4>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
    </div>
    </div>

    <h3>
        <span>강아지 간식은 이걸로 끝!</span>
    </h3>
    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색결과'"></p>
    </div>
    <div class="container_item mt-3">
        <div class="row row-cols-5">
            <th:block th:each="item, status: ${items_snack.getContent()}">
                <div class="col">
                    <div class="card">
                        <a th:href="'/item/' + ${item.id}" class="text-dark">
                            <div>
                                <img th:src="${item.imgUrl}" class="card-img" th:alt="${item.itemNm}">
                            </div>
                            <div class="card-body mt-5">
                                <h5 class="item_name">[[${item.itemNm}]]</h5>
                                <h6 class="item_detail">[[${item.itemDetail}]]</h6>
                                <h4 class="item_price"th:text="${#numbers.formatInteger(item.price, 3, 'COMMA') + '원'}"></h4>
                            </div>
                        </a>
                    </div>
                </div>
            </th:block>
        </div>
    </div>

    <h3>
        <span>우리 강아지 피부는 소중하니까</span>
    </h3>
    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색결과'"></p>
    </div>
    <div class="container_item mt-3 ">
        <div class="row row-cols-5">
            <th:block th:each="item, status: ${items_beauty.getContent()}">
                <div class="col">
                    <div class="card">
                        <a th:href="'/item/' + ${item.id}" class="text-dark">
                            <div>
                                <img th:src="${item.imgUrl}" class="card-img" th:alt="${item.itemNm}">
                            </div>
                            <div class="card-body mt-5">
                                <h5 class="item_name">[[${item.itemNm}]]</h5>
                                <h6 class="item_detail">[[${item.itemDetail}]]</h6>
                                <h4 class="item_price"th:text="${#numbers.formatInteger(item.price, 3, 'COMMA') + '원'}"></h4>
                            </div>
                        </a>
                    </div>
                </div>
            </th:block>
        </div>
    </div>

    <h3>
        <span>새 옷 입고 봄나들이 가요!</span>
    </h3>
    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색결과'"></p>
    </div>
    <div class="container_item mt-3">
        <div class="row row-cols-5">
            <th:block th:each="item, status: ${items_fashion.getContent()}">
                <div class="col">
                    <div class="card">
                        <a th:href="'/item/' + ${item.id}" class="text-dark">
                            <div>
                                <img th:src="${item.imgUrl}" class="card-img" th:alt="${item.itemNm}">
                            </div>
                            <div class="card-body mt-5">
                                <h5 class="item_name">[[${item.itemNm}]]</h5>
                                <h6 class="item_detail">[[${item.itemDetail}]]</h6>
                                <h4 class="item_price"th:text="${#numbers.formatInteger(item.price, 3, 'COMMA') + '원'}"></h4>
                            </div>
                        </a>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>